[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=The Porthole Portage Frontend (Root mode)
Name[fr]=L'application graphique pour Portage (Administrateur)
Name[ru]=Porthole, графический интерфейс для Portage (Root режим)
Comment=Use a GTK-based frontend to the Gentoo package management system
Comment[fr]=Une appli graphique GTK pour le système de gestion de packetages de Gentoo
Comment[ru]=Запустить GTK-интерфейс для пакетной системы Gentoo
Icon=porthole-icon.png
Exec=pkexec /usr/bin/porthole
StartupNotify=true
Type=Application
Categories=System;PackageManager;
GenericName= Porthole (Root mode)
