[Desktop Entry]
Name=Rosa Image Writer
GenericName=Write ISO images on a USB stick
GenericName[ru]=Запись дистрибутивов на USB диск
GenericName[fr]=Écrire des images ISO sur une clé USB
Comment=A tool for writing ISO images on a USB stick
Comment[ru]=Утилита для записи дистрибутивов на USB диск
Comment[fr]=Un outil pour écrire des images ISO sur une clé USB
Exec=pkexec RosaImageWriter
Icon=RosaImageWriter.svg
Terminal=false
Type=Application
Categories=System;
