[Desktop Entry]
Name=Molotov
Comment=Molotov
Exec=/opt/molotov/molotov-launcher.sh
Terminal=false
Type=Application
Icon=molotov
MimeType=x-scheme-handler/molotov
Categories=AudioVideo
Name[fr_FR]=molotov
