# This file is a part of net-print/samsung-unified-driver package and is based
# on udev rules shipped by Samsung, but assigns permissions and ownership in
# the SANE way.
#
ACTION!="add", GOTO="libsane_smfp_rules_end"
ENV{DEVTYPE}=="usb_device", GOTO="libsane_smfp_rules_begin"
SUBSYSTEM=="usb|usb_device", GOTO="libsane_smfp_rules_begin"
GOTO="libsane_smfp_rules_end"

LABEL="libsane_smfp_rules_begin"

ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3425", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="341c", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="342a", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="343d", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3456", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="345a", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3427", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="343a", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3428", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="343b", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3455", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3421", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3439", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3444", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="343f", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="344e", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3431", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="345c", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="344d", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3462", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3464", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3461", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3460", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="340e", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3435", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="340f", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3441", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="344f", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3413", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="341b", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="342e", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3426", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="342b", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3433", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3440", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3434", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="345b", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3457", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="341f", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3453", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="344b", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3409", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3412", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3419", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="342c", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="343c", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3432", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="342d", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3430", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="342f", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3446", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="341a", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3437", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3442", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3466", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="340d", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="341d", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3420", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3429", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3443", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3438", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="344c", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="345d", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3463", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3465", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3450", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3468", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3469", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3467", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="346b", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="346a", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="346e", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3471", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3472", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="347d", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="347c", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="347e", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3481", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3482", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3331", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3332", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3483", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3484", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3485", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3478", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3325", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3327", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="346f", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3477", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3324", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3326", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3486", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3487", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"
ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="3489", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"

LABEL="libsane_smfp_rules_end"
