#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Categories=System;
Icon=system-file-manager
Name=Caja (Super User)
Comment=Start Caja with root user
Name[fr_FR]=Caja (Super Utilisateur)
Exec=pkexec /usr/bin/caja
